In [1]:
# necessary prolog
from pyspark import SparkContext
from pyspark import SQLContext
sc = SparkContext()
sql = SQLContext(sc)

In [2]:
#Epoch -> datetime
import time
from pyspark.sql.functions import udf
epochToDate = udf(lambda epoch: time.strftime('%Y-%m-%d %H:%M:%S', time.localtime(epoch)))

# Reading the file
full_data = sql.read.json('data/100000_regels_ais_data')
full_data = full_data.withColumn("date", epochToDate(full_data['ts']))
full_data.registerTempTable("full_data")

In [3]:
# Get static data:
# shipname, eta_hour, dimstarboard, draught, dimstern, mmsi, destination, dimport, ts, imo, eta_day, eta_minute, shiptype, callsign, eta_month, dimbow, type
static_data = sql.sql("SELECT shipname, eta_hour, dimstarboard, draught, dimstern, mmsi, destination, dimport, ts, date, imo, eta_day, eta_minute, shiptype, callsign, eta_month, dimbow, type FROM full_data WHERE shiptype >= 70 AND shiptype <= 89 ORDER BY mmsi DESC")
static_data.registerTempTable("static_data")

In [4]:
# Get dynamic data:
#sog, ts, timestamp, mmsi, lat, lat2, lon, lon2, rot_direction, rot_angle, nav_status, cog, type, heading
dynamic_data = sql.sql("SELECT sog, ts, date, timestamp, mmsi, lat, lat2, lon, lon2, rot_direction, rot_angle, nav_status, cog, type, heading FROM full_data WHERE lat IS NOT NULL")
dynamic_data.registerTempTable("dynamic_data")

In [5]:
# Make static data unique
unique_static_data = sql.sql("SELECT count(*) as count, shipname, max(dimstarboard) as dimstarboard, max(dimport) as dimport, max(dimstern) as dimstern, max(dimbow) as dimbow, draught, mmsi, destination, imo, eta_minute, eta_hour, eta_day, eta_month, shiptype, callsign, type FROM static_data GROUP BY shipname, eta_hour, draught, mmsi, destination, imo, eta_day, eta_minute, shiptype, callsign, eta_month, type ORDER BY mmsi DESC")
unique_static_data.registerTempTable("unique_static_data")

In [6]:
# Check if it is truely unique
sql.sql("SELECT COUNT(*) as cnt, first(shipname) as shipname, first(mmsi) as mmsi FROM unique_static_data GROUP BY mmsi HAVING COUNT(*)>1").show()

# Fails:
# - Names that are not exactly the same
# - The ETA is different
# - Destinations are not exactly the same but look like eachother
# - Bullshit destination (233 vs LIANYUNGANG)
# - Bullshit callsign (566 vs 309B / 5(A3328 vs 9HA3328)
# - Different draughts
#

+---+--------------+---------+
|cnt|      shipname|     mmsi|
+---+--------------+---------+
|  8| NAVE UBHZ5RSE|538003852|
|  2|    SHOSEIMARU|431301658|
|  2|           123|413000000|
|  2| STOLT QUETZAL|319994000|
|  2|  PEARY SPIRIT|311027600|
|  2|        PATANI|249246000|
|  2|  AUDE AUDENDA|244660326|
|  2|HAFNIA SEAWAYS|235060989|
|  2|     DP GALYNA|229437000|
|  2|   NOBLE RIGEL|209787000|
+---+--------------+---------+